# virtual environment
xxray/
venv/
.venv/

# python cache
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# vscode
.vscode/

# model outputs
runs/
checkpoints/
*.pth
*.pt

# Ignore LED study dataset
hellastudy-of-leds2/
hellastudy-of-leds2.zip

*.zip